@charset "UTF-8";

 *{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  transition: .4s;
  scroll-behavior: smooth;
 }

 :root{
  --fundo-principal: #f5f5f5;
  --texto: #222;
  --texto-inverso: #fff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #fff;
 }

 body.escuro{
  --fundo-principal: #222222;
  --texto: #e0e0e0;
  --texto-inverso: #333333;
  --destaque: #0062d2;
  --destaque-inverso: #579fda;
  --fundo-card: #444444;
 }

 body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--fundo-principal);
  color: var(--texto);
 }

 header{
  background-color: var(--destaque);
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding: 12px;
  position: sticky;
  top: 0;
  z-index: 10;
 }

 #menu>ul{
  list-style: none;
  display: flex;
  gap: 10px;
 }

#menu a{
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px;
  border-radius: 7px;
  font-size: 1.2em;
 }

 #menu a:hover{
  background-color: var(--destaque-inverso);
 }

 main{
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 20px;
 }

 #ficha{
  padding: 20px;
  background-color: var(--fundo-card);
  grid-column: 2;
  border-radius: 8px;
  margin-top: 20px;
 }

 #ficha>img{
  width: 200px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border: 5px solid transparent;
  outline: 5px solid var(--destaque);
  display: block;
  margin: 0 auto 15px auto;

 }

 #ficha>h1{
  color: var(--destaque);
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.158) ;
  text-align: start;
  margin-bottom:5px;
 }

 #ficha>p{
  line-height: 23px;
 }

 #ficha>.social{
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
 }

 #ficha>.social>a{
  color: var(--destaque);
 }

  #ficha>.social>a:hover{
  color: var(--destaque-inverso);
  /*font-size: 38px; <---- colocar nas telas maiores*/
 }

#detalhes{
  grid-column: 2;
  margin-top: 20px;
}

article{
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

article>h2{
  color: var(--destaque);
  margin-bottom: 20px;
}

#video>.video-container{
  position: relative; 
  margin: auto;
  aspect-ratio: 16 / 9;
  
}

#video>.video-container>div{
  display: inline;
  border: 3px solid var(--destaque);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

#skills .skill-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

#skills .skill-container .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info>.skill{
  font-weight: bold;
  color: var(--texto);
}

.info>.porcento{
  font-weight: bold;
  color: var(--destaque);
}

.barra{
  background-color: var(--fundo-principal);
  height: 9px;
  width: 100%;
  border-radius: 4px;
}

.barra>.progresso{
  background-color: var(--destaque-inverso);
  height: 100%;
  border-radius: 4px;
}

.formacao-container{
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

.curso{
  background-color: var(--fundo-principal);
  padding: 5px 20px;
  border-radius: 8px;
  border-left: 6px solid var(--destaque-inverso);
}

.curso:hover{
  border-left: 12px solid var(--destaque);
  cursor: pointer;
}

.curso>.tempo{
  font-weight: bold;
  font-size: 0.8em;
  color: var(--texto);
}

.curso>.instituicao{
  color: var(--destaque-inverso);
  font-weight: bold;
  font-size: 1.2em;
}

.projeto-container{
  display: flex;
  flex-direction: column-reverse;
}

.projeto{
  display: flex;
  flex-direction: column;
  background-color: var(--fundo-principal);
  padding: 15px;
  border-radius: 8px;
  border-left: 6px solid var(--destaque-inverso);
  margin-bottom: 20px;
}

.projeto:hover{
  border-left: 12px solid var(--destaque);
}

.projeto>img{
  border-radius: 8px;
}

.projeto .periodo{
  margin-top: 17px;
}

.projeto .periodo:active{
  text-decoration: underline;
}

.projeto .h3,p,details{
  line-height: 23px;
}

.projeto h3{
  margin: 7px 0px;
  font-size: 1.3em;
}

.projeto details summary{
  font-weight: bold;
}

.projeto .button-container{
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.projeto .button-container>.site-button, .projeto .button-container>.code-button{
  background-color: var(--destaque-inverso);
  color: var(--texto);
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

.projeto .button-container>.site-button:active, .projeto .button-container>.code-button:active{
  background-color: var(--destaque);
  transition: 0s;
}

footer{
  background-color: var(--destaque);
  padding: 12px;
}

footer>p{
  color: var(--texto-inverso);
  text-align: center;
}

footer>p>a{
  color: var(--texto-inverso);
  font-weight: bold;
}

footer>p>a:hover{
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  main{
    grid-template-columns: auto 300px 1fr auto;
  }

  li.home{
    display: none;
  }

  #ficha{
    grid-column: 2 / 3;
    height: fit-content;
    position: sticky;
    top: 67px;
  }

  #detalhes{
    grid-column: 3 / -1;
  }
  
  #skills .skill-container{
   grid-template-columns: 1fr 1fr;
  }

  .projeto{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .projeto>img{
    max-width: 20%;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    max-height: 200px;
  }

  .projeto>.projeto-info{
    max-width: 80%;
    margin-top: -20px;
  }
}