@charset "UTF-8";
/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

body{
  background: linear-gradient(to top, rgb(74, 192, 72), rgb(149, 53, 193));
  color: #d3d3d3;
  font-size: 40px;
  text-align: center;
  background-repeat: no-repeat;
  height: 100vh;
}